html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h3 
{
    font-size: 1.2em;
}
h2
{
    font-size: 1.2em;
}
h1
{
    font-size: 1.2em;
}

html {
    height: 100%;
    width: 100px;
    background-color: rgb(25,25,25);
    height: 100%;
    background: url("/img/cityscape.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

input[type="checkbox"][disabled] {
    color: black;
}

#booster 
{
    display: table-cell;
    vertical-align: middle;
    width:100%;
}

#content {
    background-color: white;
    box-shadow: rgb(52, 52, 56) 0px 0px 6px;
    margin: auto;
    text-align: center;
    font-family: Tahoma;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px;
    font-size:1em;
}

@media all and (min-width:1000px) and (max-width: 2000px) {
    #content {
        max-width: 1000px;
    }
}

@media all and (max-width: 1000px) {
    #content {
        width: 100%;
    }
}


@media all and (min-width: 2000px) {
    #content {
        width: 52%;
    }
}

#HeadBar
{
    width:100%;
    background-color:rgb(52, 52, 56);
    color:white;
    height:55px;
}

#margin {
    margin: 20px;
}
.buttonAccept {
    width: 200px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    padding: 10px;
    color: white;
    transition: box-shadow 0.2s;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

    .buttonAccept:hover {
        cursor:pointer;
        box-shadow: darkgray 5px 5px 6px;
    }

#WelcomeBox
{
    font-size:0.8em;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding-right:20px;
}

#weekB
{
    display: none;
}

#flexContainer 
{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width:750px;
    margin:auto;
}

.flexObj
{
    display:flex;
    margin:auto;
    padding:20px;
    
}

    .flexObj ul li {
        text-align: left;
    }

.flexObj img

{
    width: 100%;
    height:100%;
}

.tableBody
{
    display:table;
    margin:auto;
    text-align:left;
}

.tableRow
{
    display:table-row;
}
.tableCell
{
    display:table-cell;
    width: 120px;
}

.tableCol {
    height: 0%;
    margin: auto;
    border: 0;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(52, 52, 56);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(52, 52, 56);
}

.tableHead {
    padding: 10px;
    background-color: rgb(52, 52, 56);
    color: white;
    min-width: 100px;
    font-size:1em;
}

.tableChild {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(52, 52, 56);
    min-width: 100px;
    background-color:white;
    font-size: 1em;
}

.tableChild p {
        color: gray;
        font-size: 0.6em;
}

.Timesheet {
    border-style: solid;
    border-color: rgb(52, 52, 56);
    border-width: 2px;
    background-color: rgb(52, 52, 56);
}

    .Timesheet th {
        padding: 10px;
        background-color: rgb(52, 52, 56);
        color: white;
        margin: 0px;
        text-align: center;
    }

.Timesheet td {
    margin:0px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(52, 52, 56);
    text-align:center;
    min-width:100px;
    min-height:30px;
    background-color:white;
}



table
{
    text-align:center;
    margin: auto;
}
td 
{
    padding-right: 10px;
}
ul, li
{
    list-style-type:none;
    text-align:center;
}
a 
    {
        text-decoration: none;
    }

.DynaButton {
    
    overflow: hidden;
    width: 57px;
    height: 55px;
    transition: width 1s;
    font-size: 1.3em;
    line-height: 10px;
    color: black;
}

.DynaWButton {
    overflow: hidden;
    width: 125px;
    height: 55px;
    transition: width 1s;
    font-size: 1.3em;
    line-height: 10px;
    color: black;
}

    .DynaWButton table td div
    {
        display:table;
        text-align:center;
    }


    #logoutIco table {
        float: left;
    }

    .DynaButton:hover {
        width: 150px;
    }

.DynaButton img {
    width: 50px;
    height: 50px;
}

.DynaWButton:hover {
    width: 200px;
}

#logoutIco {
    float: left;
    background-color: rgb(255, 203, 0);
}
 #logoutIco table
 {
     float: left;
 }
#Back {
    float: right;
    background-color: rgb(255, 0, 73);
}
#Back table {
    float:right;
}
#Back table tr td
{
    padding-right:2px;
    padding-left:10px;
}
#Edit {
    float: right;
    background-color: rgb(0, 161, 255);
}

    #Edit table {
        float: right;
    }

        #Edit table tr td {
            padding-right: 2px;
            padding-left: 30px;
        }

@media all and (orientation:portrait) {
    h3 {
        font-size: 2.4em;
    }

    h2 {
        font-size: 2.4em;
    }

    h1 {
        font-size: 2.4em;
    }

    .hideAtLowRes {
        display: none;
    }

    #HeadBar {
        width: 100%;
        background-color: rgb(52, 52, 56);
        color: white;
        height: 110px;
    }

    #WelcomeBox {
        font-size: 0.8em;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding-right: 20px;
        line-height: 0.6em;
    }

    #WelcomeBox h1
    {
        font-size: 0.8em;
    }

    .tableHead {
        min-width: 200px;
        font-size: 2.5em;
    }
    .tableHead h1
    {
        font-size: 1em;
    }

    .tableChild {
        min-width: 200px;
        font-size: 3em;
    }

        .tableChild p {
            font-size: 1em;
        }

    .DynaButton {
        width: 114px;
        height: 110px;
        font-size: 2.6em;
    }

    .DynaWButton {
        width: 175px;
        height: 110px;
        font-size: 2.6em;
    }

    .DynaButton:hover {
        width: 300px;
    }

    .DynaButton img {
        width: 100px;
        height: 100px;
    }

    .DynaWButton:hover {
        width: 175px;
    }
}