
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles/loginTheme.css" />
    <title>{{title}}</title>
</head>
<body>
    <div id="booster">
        <div id="content">
            <h2>Timesheet approved!</h2>
            <a href="/dashboard">
                <div class="buttonAccept">
                    Return to dashboard
                </div>
            </a>
            <p style="color:lightgray;font-size:10px;">Copyright MIT Services Australia 2018</p>
        </div>
    </div>
</body>
</html>