<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles/loginTheme.css" />
    <title>MIT Services TSheets Approval System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
    <div id="booster">
        <div id="content">
            <h2>MIT Services TSheet Approval System</h2>
            <h3>Sign in below</h3>
            <form id="signin" name="signin" method="post" action="signin">
                <table>
                    <tr>
                        <td><label for="email">Email Address:</label></td>
                        <td><input class="text" name="email" type="text" /></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password:</label></td>
                        <td><input name="password" type="password" /></td>
                    </tr>
                </table>
                <input class="buttonAccept" type="submit" value="Sign In" />
            </form>
        </div>
    </div>
</body>
</html>